    body, html {
        background-color: inherit;
        height: 100%;
        width: 100%;
        margin: 0;
        display: flex;  
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .flash{
        width:100%;
    }

    .form-container {
        background-color:inherit;
        padding: 2rem;
        border: solid 1px grey;
        border-radius: 10px;
        box-shadow: 0 4px 8px grey;
        color:inherit;
        width:350px;
        height: 600px;

    }
    
    .btn-val {
        background-color: #da3e3f; /* Set the background color to #da3e3f */
        color: white; /* Set text color to white */
        border-color: #da3e3f; /* Set border color to #da3e3f */
    }
    
    .btn-val:hover {
        background-color: #c63031; /* Darken the background color on hover */
        border-color: #c63031; /* Darken the border color on hover */
    }
    
    .btn-outline-val {
        color: #da3e3f; /* Set the text color to #da3e3f */
        border-color: #da3e3f; /* Set the border color to #da3e3f */
        background-color: transparent; /* Set the background color to transparent */
    }
    
    .btn-outline-val:hover {
        color: white; /* Set text color to white on hover */
        background-color: #da3e3f; /* Set background color to #da3e3f on hover */
        border-color: #da3e3f; /* Set border color to #da3e3f on hover */
    }

    .logo {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
        color:inherit;
        text-align: center;
        padding-bottom: 5px;
    }
    .btn-toggle {
        color: inherit;
        border:solid 0.2px;
        padding: 10px 10px;
        margin-bottom: 20px;
        cursor: pointer;
        width: 100px;
        background-color: inherit;

    }
    .btn-toggle.active {
        background-color: #da3e3f;
        border: solid 0.2px;
        color: white;

    }
    .form-control, .btn-danger, .form-check-input {
        color: white;
        border-radius: 10px;
        margin-bottom: 2%;
        margin-top: 2px;
    .form-control:hover{
        box-shadow: grey;
        border: 1px solid #da3e3f;
    .form-control:focus{
        border: 1px solid white;
        box-shadow: grey;
    }    
    }    
    }
    .btn-primary {
        background-color: #da3e3f;
        border: none;
    }
    .form-group .btn-primary {
        margin-top: 1rem;
    }
    a {
        color: #da3e3f;
        text-decoration: none;
        
    a:hover{
        text-decoration: none;
    }    
    a:visited{

        color: #da3e3f;
    }    

    }
    .form-check-label {
        margin-left: .5rem;
    }
    .form-section {
        display:none;
    }
    .form-section.active {
        display: block;
    }