{% extends "dashboard_base.html" %}
{% block title %} add Location {% endblock %}
 
{% block content %}
<div class="container mt-5">
    <h5>Add Locations and generate QR-code</h5>
    <form id="organizationForm" method="POST">
        <div class="mb-3">
            <label for="orgName" class="form-label" >Organization Name</label>
            <input type="text" class="form-control" id="orgName" required readonly value="{{ organization.name }}" name="name">
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" id="address" required name="address" placeholder="Enter location address">
        </div>
        
        <div class="mb-3">
            <label for="alias" class="form-label">Alias</label>
            <input type="text" class="form-control" id="alias" required name="alias" placeholder="Enter a branch name or branch alias.(e.g Lagos branch)">
        </div>


        <div class="mb-3">
            <label for="longitude" class="form-label">Longitude</label>
             <input type="text" id="longitudeInput" placeholder="Longitude" class="form-control" required readonly name="longitude">
        </div>

        <div class="mb-3">
            <label for="latitude" class="form-label">Latitude</label>
            <input type="text" id="latitudeInput" placeholder="Latitude" class="form-control" required readonly name="latitude" >
        </div>



        <button type="button" class="btn btn-danger btn-sm" onclick="generateCoordinates()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
        </svg>
        Set Coordinates
        </button>
        <button type="submit" class="btn btn-success btn-sm">Submit</button>
        <a href="{{ url_for('views.manage_locations', org_id=organization.id) }}" class="btn btn-sm btn btn-warning">view locations</a>
      </form>
</div>

<script>

const generateCoordinates = () =>{
    // Check if geolocation is supported by the browser
if ("geolocation" in navigator) {
  navigator.geolocation.getCurrentPosition(function(position) {
    var latitude = position.coords.latitude;
    var longitude = position.coords.longitude;
    

    document.getElementById("longitudeInput").value = longitude;
    document.getElementById("latitudeInput").value = latitude;


  }, function(error) {
    alert("error getting user location" );
    console.log(error.message)
  });
} else {
  alert("Geolocation is not supported by this browser.");
}

}

</script>

 {% endblock %}
