{% extends "base.html" %}

{% block title %}
Reset password
{% endblock %}

{% block content %}
<!-- Forgot Password Modal -->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="forgotPasswordModalLabel">Reset Your Password</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="emailInput" class="form-label">Email address</label>
              <input type="email" class="form-control" id="emailInput" required>
              <div id="emailHelp" class="form-text">We'll send a link to reset your password to this email address.</div>
            </div>
            <button type="submit" class="btn btn-danger">Send Reset Link</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  

{% endblock %}