{% extends "dashboard_base.html" %}
{% block title %} Manage Organisation {% endblock %}
 
{% block menu %}
<li class="menu-heading"><span>Attendance</span></li>
<li>
    <a href="#">
        <svg>
            <use xlink:href="#icon-media"></use>
        </svg>
        <span>Media</span>
    </a>
</li>
<li>
    <a href="#">
        <svg>
            <use xlink:href="#icon-pages"></use>
        </svg>
        <span>Pages</span>
    </a>
</li>
<li>
    <a href="#">
        <svg>
            <use xlink:href="#icon-comments"></use>
        </svg>
        <span>Comments</span>
    </a>
</li>
{% endblock %}

{% block content %}

<div class="container mt-5">
    <h2>Organizations</h2>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Organization Name</th>
                <th>Organisation ID</th>
                <th>Created By</th>
            </tr>
        </thead>
        <tbody>
            {% for organization in organizations %}
                <tr>
                    <td>{{ organization.name }}</td>
                    <td>{{ organization.code }}</td>
                    <td>{{ organization.creator.username }}</td> <!-- Assuming the User model has a username -->
                </tr>
            {% endfor %}
        

 {% endblock %}