{% extends "dashboard_base.html" %}
{% block title %} Manage Organisation {% endblock %}
 
{% block menu %}
<li class="menu-heading"><span>Attendance</span></li>
<li>
    <a href="#">
        <svg>
            <use xlink:href="#icon-media"></use>
        </svg>
        <span>Media</span>
    </a>
</li>
<li>
    <a href="#">
        <svg>
            <use xlink:href="#icon-pages"></use>
        </svg>
        <span>Pages</span>
    </a>
</li>
<li>
    <a href="#">
        <svg>
            <use xlink:href="#icon-comments"></use>
        </svg>
        <span>Comments</span>
    </a>
</li>
{% endblock %}

{% block content %}

<h1>Manage Organisations</h1>

 {% endblock %}